.plus {
  --b: 4px;
  width: 20px;
  aspect-ratio: 1;
  border: 10px solid #0276ff;
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0276ff 90deg,
      #fff 0
    )
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
  display: inline-block;
  border-radius: 10px;
}

.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}
