.progress-bar {
  width: 100px;
}

.bar-container {
  background-color: lightblue;
}

.security {
  background-color: red;
  margin: 5px;
}

.speed {
  background-color: green;
  margin: 5px;
  height: 25px;
}

.stability {
  background-color: blue;
  margin: 5px;
}

.label {
  font-size: 20px;
  color: white;
}
