.progress-bar {
  height: 30px;
}

.progress {
  background-color: green;
  margin: 5px;
  height: 25px;
  position: relative;
  top: -30px;
}

.name {
  margin: 5px;
  height: 25px;
  position: relative;
  top: -60px;
}

.empty {
  background-color: gray;
  margin: 5px;
  height: 25px;
}
